.debugger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 12px;
  line-height: 1.75;
  font-size: 12px;
  font-family: monospace;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);
}
.stats {
  padding: 0 8px;
  & .section {
    margin-bottom: 12px;
  }
}
.button,
.select {
  margin-right: 12px;
  margin-bottom: 12px;
  padding: 4px 8px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  color: inherit;
  background-color: rgba(255, 255, 255, 0.1);
  text-shadow: inherit;
  cursor: pointer;
  outline: none;
  transition:
    border-color 200ms,
    background-color 200ms;
  &:hover,
  &:focus {
    border: 1px solid rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0.25);
  }
  option {
    color: #333333;
    background-color: #eeeeee;
  }
}
