.debugger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 12px;
  line-height: 1.75;
  font-size: 12px;
  font-family: monospace;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);
  user-select: none;
}
.stats {
  padding: 0 8px;
  & .section {
    margin-bottom: 12px;
  }
}
.button {
  margin-right: 12px;
  margin-bottom: 12px;
  padding: 4px 8px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 0;
  color: inherit;
  background-color: rgba(255, 255, 255, 0);
  text-shadow: inherit;
  cursor: pointer;
  &:hover {
    border: 1px solid rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.1);
  }
  &:focus {
    outline: none;
  }
}
