.progressBar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.icon {
  flex-grow: 0;
  font-size: 20px;
  color: var(--text-color-disabled);
}
.totalBar {
  display: flex;
  position: relative;
  flex-grow: 1;
  height: 2px;
  overflow: hidden;
  background-color: var(--background-color-disabled);
}
.activeBar {
  width: 100%;
  background-color: var(--text-color-disabled);
  transition: translate 500ms;
}
