.progressBar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.icon {
  flex-grow: 0;
  font-size: 20px;
  color: #8d7a69;
}
.totalBar {
  display: flex;
  position: relative;
  flex-grow: 1;
  height: 2px;
  overflow: hidden;
  background-color: rgba(219, 198, 174, 0.2);
}
.activeBar {
  width: 100%;
  background-color: #8d7a69;
  transition: translate 500ms;
}
