.splashScreen {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  cursor: default;
}
.content {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  font-size: 2rem;
  color: var(--text-color-disabled);
}
.title {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -16vh;
  text-align: center;
  h1 {
    width: min(94vw, 81vh);
    margin: 0 auto;
  }
}
.loading {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: -4px;
  margin-left: 24px;
  margin-right: 24px;
}
.loadingBar {
  min-width: min(85vw, 74vh);
  max-width: 100%;
}
.loadingText {
  margin-top: min(3.4vw, 3vh);
  font-size: 1.2rem;
}
.backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(0, 0, 0, 1);
}
