.splashScreen {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.content {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  font-family: 'EB Garamond', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  text-shadow: rgba(0, 0, 0, 0.6) 0 0 16px;
  color: #dbc6ae;
  pointer-events: none;
}
.title {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -16vh;
  text-align: center;
  h1 {
    margin: 0;
    white-space: nowrap;
    font-family: 'Macondo', serif;
    font-weight: 400;
    font-style: normal;
    font-size: min(16vw, 14vh);
    letter-spacing: -0.03em;
    text-shadow: none;
    color: #ffffff;
  }
  .emphasized {
    font-size: 1.4em;
    // color: #ff5b35;
    color: #b7a696;
  }
  .collapsed {
    letter-spacing: -0.12em;
  }
}
.loading {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-left: 32px;
  margin-right: 32px;
}
.progress {
  display: flex;
  min-width: min(85vw, 74vh);
  max-width: 100%;
  height: 2px;
  overflow: hidden;
  background-color: rgba(219, 198, 174, 0.2);
}
.progressBar {
  width: 100%;
  background-color: #b7a696;
  transition: transform 500ms;
}
.loadingText {
  margin-top: min(3.4vw, 3vh);
  font-size: 1.2rem;
}
.backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(0, 0, 0, 1);
}
